body {
    background-color: #e0e0eb;
     font-family: verdana;
}


h1, h2 {
    color: black;
    text-align: left;
}

p {
   
    font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #3d3d5c;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #ff6666;
}

footer { 
    display: block;
}

.contact {
    
    background-color: #3d3d5c;
    font-size: 20px;
    color: white;
    padding: 2px; 
}

.footer{
    position:fixed;
    bottom:0;
}
